<a href="https://colab.research.google.com/github/satrio-hw/CapstoneProject_DataMining/blob/master/damin_capstone_0102517023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import torch
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
print(device)

cuda:0

In [0]:
import nltk
import pandas as pd
nltk.download('punkt')
nltk.download('stopwords')
import string
import re
df = pd.DataFrame()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [0]:
!pip install sastrawi

Requirement already satisfied: sastrawi in /usr/local/lib/python3.6/dist-packages (1.0.1)

In [0]:
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

In [0]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [0]:
root_path = 'gdrive/My Drive/damin_capstone/dataset_berita'

In [0]:
import os

# List all files in a directory using os.listdir
basepath = root_path+'/kompas/txt/'
listtitle=[]
listyear=[]
listmonth=[]
listday=[]

In [0]:
count=0
for folder in os.listdir(basepath):
  for txtfile in os.listdir((basepath+folder)):
    count+=1
    #print(txtfile)
print(count) #ada 5449 files di 22 folder

5449

##test per 1 artikel##

In [0]:
f=open((basepath+folder+'/'+txtfile),"rb")

In [0]:
isifile=f.read()

In [0]:
rawtext=str(isifile)
#print(rawtext)

In [0]:
#Get TITLE, TANGGAL penerbitan artikel
title=[]
temp=None
for karakter_index in range (len(rawtext)):
  if karakter_index >= 2:
    if rawtext[karakter_index] == "n" and rawtext[karakter_index-1] == "\\":
      mulaiisi_idx=karakter_index-1
      break;
    title.append(rawtext[karakter_index])
title.pop()

listtitle.append(''.join(title))
listday.append(txtfile[0:2])
listmonth.append(txtfile[4:6])
listyear.append('20'+txtfile[2:4])
print(listtitle)
print(listday)
print(listmonth)
print(listyear)

['Ny Rossanna Menampung Tommy karena Menyayanginya']
['30']
['11']
['2001']

In [0]:
factory = StemmerFactory()
stemmer = factory.create_stemmer()

In [0]:
textisi=rawtext[mulaiisi_idx:len(rawtext)]

#print(textisi)
textisi=textisi.strip('\\n') #remove trailing newline
textisi=textisi.replace('\\r\\n\\n','') #remove \r\n\n
textisi = re.sub(r"\d+", "", textisi) #remove number
textisi = stemmer.stem(textisi)
#print(textisi)
textisi = textisi.translate(str.maketrans('','',string.punctuation)).lower() #remove symbols
print(textisi)

tenang dan pasrah serta penuh kasih kepada tommy soeharto begitu kesan yang tangkap telah bincang dengan ny rossanna hasan kamis siang milik rumah tempat hutomo mandala putra sembunyi saat tangkap polisi itu sedang sama putra bill haque tunggu di ruang unit vice controle untuk jalan proses berita acara periksa bap saat tanya apakah dia tahu anak mantan presiden itu buron nomor satu polisi dia jawab ya tentu saya tahu tapi bagaimana ya tommy sedang susah dia minta tolong minta pun dengan santun dan rendah hati saya tidak bisa tolak kata ny rossanna yang oleh banyak media tulis bagai ny cana atau ny hasan ny rossanna pegang kartu tanda duduk ktp yang tempat tinggal di jalan margasatwa nomor rt rw cilandak timur jakarta selatan ktp sebut baru tanggal juli dan laku sampai agustus dia tutur pada bulan agustus setelah polisi gerebek apartemen cemara dan rumah di jalan alam segar tommy temu ny rossanna oma apa boleh saya tumpang tidur di rumah oma kata tommy saat itu ny rossanna yang panggil oma oleh tommy balik tanya apakah itu tidak bahaya buat tommy sendiri telah tommy jawab tidak dia pun sila tommy inap tommy lalu minta kunci duplikat rumah ny rossanna di jalan maleo ii nomor bintaro jaya tangerang banten hubung ny rossanna dengan tommy bukan baru dia pertama kali lihat tommy saat putra bungsu mantan presiden soeharto itu usia tujuh tahun pada saat itu hasan suami ny rossanna masih aktif bagai kolonel di corps polisi militer yang awal presiden soeharto suami saya telah tinggal hampir tahun lalu ketika anak bungsu saya ini usia tujuh tahun kata ny rossanna sambil usap kepala anak tiga bill haque yang duduk di samping kiri walaupun begitu ny rossanna baru temu kembali dengan tommy pada tahun itu pun tidak temu cara khusus tetapi temu dalam acara sosial yang betul sama mereka hadir yah temu sambil lewat tetapi waktu agustus itu dia memang datang dan minta langsung ke saya untuk sekali tinggal di rumah saya kata ibu tiga anak sebut dalam kurun tiga bulan agustusnovember itu memang tidak tiap hari tommy tinggal di rumah tommy datang sekali ny rossanna temu dan cakap langsung dengan tommy tanya berapa sering dia jawab sambil hitung jari tangan hitung tidak sampai cukup jumlah seluruh jari tangan saya ny rossanna hanya tahu bahwa tommy ada di rumah tommy lebih banyak urung diri di salah satu kamar rumah dia lebih banyak berdzikir di kamar sembahyang tidak pernah telat tommy juga senang mutih dari semua anak pak harto memang tommy yang paling rajin ibadah karena itu dia paling sayang pak harto kata ny rossanna namun dia ban diri bagai nasihat spiritual tommy saya hanya tahu pasti giat spiritual tommy kata turut ny rossanna lama datang dan inap di rumah tommy tidak pernah kawal siapa pun atau lihat bawa senjata api biasa tommy tiba saja sudah turun dari taksi atau dari mobil yang antar di depan rumah hanya dua kali tommy telepon lebih dulu minta jemput bill haque pun jemput di pinggir jalan di mana tommy tunggu sendiri jadi kami tidak pernah lihat orang yang antar dia tommy pun tidak pernah pakai wig kalau datang dia kaus dan berjins malah kadang pakai celana yang lutut seperti cara busana anak saya ini tutur sejak agustus pun saat foto tommy sebar dalam tampil berewok oleh pihak polda metro jaya tommy tidak pernah lihat berewok namun tetap tampil klimis dan rapi mungkin untuk samar diri tommy selalu pakai topi pet dan kaca mata hitam tommy juga selalu bawa tas serut kecil dari kain blacu itu saja yang bawa saya sendiri tidak tahu apa isi karena kami juga jarang ngobrolngobrol sama anak saya juga jarang ngobrol karena dua diam tommy kalau bicara sedikit tambah ny rossanna lama di rumah ny rossanna tommy masak sendiri makan masuk ulek sendiri sambal tommy tidak pernah santap makan yang masak ny rossanna mungkin masakan saya tidak pas dengan selera atau mungkin dia tidak percaya saya kata makan yang biasa santap tommy adalah sup sayur sup ikan dan ikan goreng tommy pun gemar makan ayam pop turut ny rossanna tommy adalah pribadi yang sederhana dan fair orang sangat simpel tekan saat polisi tangkap tommy langsung bilang kepada polisi untuk tidak bawa ny rossanna tanya deh ke polisi tommy waktu itu langsung minta agar saya tidak tangkap saya yang salah pak oma tidak tahu apa begitu dia bilang ungkap ny rossanna kepada orang polisi yang tangkap tommy malah bilang tangkap diri ibarat dia kalah dalam main catur ya dalam hal ini saya kalah harus kamu hak dapat hadiah yang janji itu karena saya tangkap kata kepada sidik itu ny rossanna akhir jalan proses berita acara periksa bap pada kamis pukul tetapi saya tidak harus tahan saya hanya kena wajib lapor tiap senin dan kamis saya kena pasal kuhp kata pasal itu isi ancam orang yang sembunyi orang yang buat jahat atau bantu lari diri bisa kena kurung sembilan bulan penjara atau denda banyak rp

In [0]:
tokens = nltk.tokenize.word_tokenize(textisi)
print(len(tokens))

818

In [0]:
listStopword =  set(nltk.corpus.stopwords.words('indonesian'))
listStopword.add('ny')
listStopword.add('ya') 
removed_sw = []
for t in tokens:
    if t not in listStopword:
        removed_sw.append(t)
 
#print(removed_sw)
wordsfreq = nltk.FreqDist(removed_sw)
print(wordsfreq.most_common())

[('tommy', 39), ('rossanna', 21), ('rumah', 11), ('polisi', 8), ('tangkap', 7), ('anak', 7), ('jalan', 6), ('temu', 6), ('orang', 5), ('tinggal', 4), ('agustus', 4), ('oma', 4), ('lihat', 4), ('langsung', 4), ('bawa', 4), ('makan', 4), ('soeharto', 3), ('hasan', 3), ('kamis', 3), ('putra', 3), ('bill', 3), ('haque', 3), ('acara', 3), ('presiden', 3), ('nomor', 3), ('pakai', 3), ('bilang', 3), ('kena', 3), ('sembunyi', 2), ('tunggu', 2), ('proses', 2), ('berita', 2), ('periksa', 2), ('bap', 2), ('mantan', 2), ('duduk', 2), ('ktp', 2), ('inap', 2), ('jaya', 2), ('kali', 2), ('bungsu', 2), ('usia', 2), ('tujuh', 2), ('suami', 2), ('hitung', 2), ('jari', 2), ('tangan', 2), ('salah', 2), ('kamar', 2), ('harto', 2), ('spiritual', 2), ('jemput', 2), ('tampil', 2), ('berewok', 2), ('isi', 2), ('jarang', 2), ('masak', 2), ('santap', 2), ('sup', 2), ('ikan', 2), ('kalah', 2), ('pasal', 2), ('tenang', 1), ('pasrah', 1), ('penuh', 1), ('kasih', 1), ('kesan', 1), ('bincang', 1), ('siang', 1), ('milik', 1), ('hutomo', 1), ('mandala', 1), ('ruang', 1), ('unit', 1), ('vice', 1), ('controle', 1), ('buron', 1), ('susah', 1), ('tolong', 1), ('santun', 1), ('rendah', 1), ('hati', 1), ('tolak', 1), ('media', 1), ('tulis', 1), ('cana', 1), ('pegang', 1), ('kartu', 1), ('tanda', 1), ('margasatwa', 1), ('rt', 1), ('rw', 1), ('cilandak', 1), ('timur', 1), ('jakarta', 1), ('selatan', 1), ('tanggal', 1), ('juli', 1), ('laku', 1), ('gerebek', 1), ('apartemen', 1), ('cemara', 1), ('alam', 1), ('segar', 1), ('tumpang', 1), ('tidur', 1), ('panggil', 1), ('bahaya', 1), ('sila', 1), ('kunci', 1), ('duplikat', 1), ('maleo', 1), ('ii', 1), ('bintaro', 1), ('tangerang', 1), ('banten', 1), ('hubung', 1), ('aktif', 1), ('kolonel', 1), ('corps', 1), ('militer', 1), ('usap', 1), ('kepala', 1), ('samping', 1), ('kiri', 1), ('khusus', 1), ('sosial', 1), ('hadir', 1), ('yah', 1), ('kurun', 1), ('agustusnovember', 1), ('cakap', 1), ('urung', 1), ('berdzikir', 1), ('sembahyang', 1), ('telat', 1), ('senang', 1), ('mutih', 1), ('rajin', 1), ('ibadah', 1), ('sayang', 1), ('ban', 1), ('nasihat', 1), ('giat', 1), ('kawal', 1), ('senjata', 1), ('api', 1), ('turun', 1), ('taksi', 1), ('mobil', 1), ('telepon', 1), ('pinggir', 1), ('wig', 1), ('kaus', 1), ('berjins', 1), ('kadang', 1), ('celana', 1), ('lutut', 1), ('busana', 1), ('foto', 1), ('sebar', 1), ('polda', 1), ('metro', 1), ('klimis', 1), ('rapi', 1), ('samar', 1), ('topi', 1), ('pet', 1), ('kaca', 1), ('mata', 1), ('hitam', 1), ('tas', 1), ('serut', 1), ('kain', 1), ('blacu', 1), ('ngobrolngobrol', 1), ('ngobrol', 1), ('diam', 1), ('bicara', 1), ('masuk', 1), ('ulek', 1), ('sambal', 1), ('masakan', 1), ('pas', 1), ('selera', 1), ('percaya', 1), ('sayur', 1), ('goreng', 1), ('gemar', 1), ('ayam', 1), ('pop', 1), ('pribadi', 1), ('sederhana', 1), ('fair', 1), ('simpel', 1), ('tekan', 1), ('deh', 1), ('main', 1), ('catur', 1), ('hak', 1), ('hadiah', 1), ('janji', 1), ('sidik', 1), ('tahan', 1), ('wajib', 1), ('lapor', 1), ('senin', 1), ('kuhp', 1), ('ancam', 1), ('jahat', 1), ('bantu', 1), ('lari', 1), ('kurung', 1), ('sembilan', 1), ('penjara', 1), ('denda', 1), ('rp', 1)]

In [0]:
print(wordsfreq.most_common()[0][1])

39

In [0]:
value=wordsfreq.most_common()[0][1]
key=wordsfreq.most_common()[0][0]
print(value)
#df2=pd.DataFrame([int(value)],columns=list[str(key)])
df2=pd.DataFrame({str(key):[int(value)]})
display(df2)
df3=pd.DataFrame({str(key):[46]})
(df3)
df4=pd.DataFrame({'denov':[15]})
(df4)

39

   tommy
0     39

   denov
0     15

In [0]:
df2.append(df3, ignore_index=True)

   tommy
0     39
1     46

In [0]:
df2.append(df4, ignore_index=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

   denov  tommy
0    NaN   39.0
1   15.0    NaN

In [0]:
df['judul']=listtitle[0]
tgl_terbit = str(listyear[0]+'-'+listmonth[0]+'-'+listday[0])
df.insert(1,'tanggal',pd.Timestamp(tgl_terbit))
for i in range (len(wordsfreq.most_common())):
  dfvalue=[wordsfreq.most_common()[i][1]]
  df[wordsfreq.most_common()[i][0]]=dfvalue

ValueError: ignored

In [0]:
#print(tgl_terbit)

In [0]:
df

Empty DataFrame
Columns: []
Index: []